@model LongjiangBank.Models.Production
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>积分商城</title>
    <link href="~/styles/site.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/icons.css" rel="stylesheet" type="text/css" />
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/scripts/jquery.autoajax.js"></script>
</head>
<body>
    <div class="header">
        <table>
            <tr>
                <td style="width: 2.5em; text-align: left;padding-left: 1em;">
                    <a href="javascript: history.go(-1);"><i class="fa icon fa-chevron-left"></i></a>
                    &nbsp;
                </td>
                <td style="text-align: center">@Model.Title</td>
                <td style="width: 2.5em; text-align: right;padding-right:1em;text-overflow:ellipsis;">
                    &nbsp;
                    <a href="javascript: location.reload() "><i class="fa icon fa-repeat"></i></a>
                </td>
            </tr>
        </table>
    </div>

    <div class="wrap-cont">
        <img src="/Api/Image/@Model.Id" alt="商品图片展示" id="product-img" />
        <div class="sort-bar">
            <a href="/Api/Production/@Model.Id" class="sort">商品详情</a>
            <a href="/Api/ProductionComment/@Model.Id" class="sort">商品评价</a>
        </div>
        <div class="list-outer">
            @(new HtmlString(Model.Description))
        </div>
        <div class="list-outer">
            <div class="field">所需积分</div>@Model.Cost
        </div>
        <a href="javascript: exchange('@Model.Id')">
            <div class="btn">兑换该商品</div>
        </a>
    </div>

    <form asp-action="Exchange" asp-controller="Api" asp-route-id="@Model.Id" id="frmExchange">
    </form>
    <script>
        function exchange(id)
        {
            if (confirm('是否确认兑换该商品?'))
            {
                $('#frmExchange').submit();
            }
        }
    </script>
</body>
</html>